# Server
PORT=3000

# MySQL connection (Asterisk Realtime DB)
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=asterisk
MYSQL_PASSWORD=asterisk
MYSQL_DATABASE=asterisk

# TypeORM runtime options
TYPEORM_SYNC=false
TYPEORM_LOGGING=false

# Asterisk paths for creating directories for tenants
ASTERISK_CONFIG_DIR=/etc/asterisk
ASTERISK_MONITOR_DIR=/var/spool/asterisk/monitor
ASTERISK_SOUNDS_DIR=/var/lib/asterisk/sounds

# Asterisk paths for creating default dialplans for tenants
ASTERISK_EXTENSIONS_CONF=/etc/asterisk/extensions.conf
