# Server
PORT=3000

# MySQL connection (Asterisk Realtime DB)
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=asterisk
MYSQL_PASSWORD=asterisk
MYSQL_DATABASE=asterisk

# TypeORM runtime options
TYPEORM_SYNC=false
TYPEORM_LOGGING=false
